# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#
outputs/


# Virtual environments
.env/
.venv/

# Poetry lock file (optional, but usually included)
# poetry.lock

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other IDE settings
.idea/
.vscode/
